<h1>Welcome to MyApp</h1>
<span class="blue">Blue text
</span>
<nav>
  <a routerLink="/home" routerLinkActive="active">Home</a>
  <a routerLink="/employees" routerLinkActive="active">Employees</a>
  <a routerLink="/products" routerLinkActive="active">Products</a>
  <a [routerLink]="['/template-driven']" routerLinkActive="router-link-active">Template Driven</a>
  <a [routerLink]="['/reactive-forms']" routerLinkActive="router-link-active">Reactive Forms</a>
  <a [routerLink]="['/data-binding']" routerLinkActive="router-link-active">Data Binding</a>
  <a [routerLink]="['/demo-pipes']" routerLinkActive="router-link-active">Custom Pipes Demo</a>
  <a [routerLink]="['/send-recieve']" routerLinkActive="router-link-active">Send/Recieve</a>
  <a [routerLink]="['/sample-i18n']" routerLinkActive="active">I18n Sample</a>
  <a [routerLink]="['/quotes']" routerLinkActive="active">Quotes</a>
</nav>

<router-outlet>
</router-outlet>
